pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein*
/node_modules
admin.env
/resources
.DS_Store
.rebel_readline_history
.nrepl-port
figwheel_server.log

# ignore serverless stuff
.env
_meta
.serverless
